<div class="container py-5">
  <h1>Create a new itinerary</h1>

  <%= render "shared/form", excursion: @itinerary %>

  <br>

  <div>
    <%= link_to "Show all excursions", itineraries_path %>
  </div>
</div>
