// Define variables for your color scheme

// For example:
$red: #98473E;
$blue: #020122;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4B644A;
$navbar: rgb(89, 179, 155);
$footer: #255145;
// $home-card: rgba(89, 179, 155, 0.2);
$home-card: white;
$gray: #BBB891;
$pastel-red: #d3474c;
$pastel-green: #2faa71;
$light-gray: #F4F4F4;
