.excursion-show-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 60rem;
  // border: 2px solid blue;
  display: flex;
  flex-direction: column;
}

.excursion-show-top {
  // border: 2px solid rgb(255, 121, 121);
  display: flex;
  margin-bottom: 1.5rem;
}

.excursion-show-image {
  // border: 1px solid rgb(43, 0, 255);
  width: 50%;
  // border: 2px solid blue;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.excursion-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews {
  margin-top: 1.5rem;
  // border: 1px solid red;
}

#info-button {
  color: white;
}

.btn {
  padding: 10px;
  margin-right: 10px;
  align-items: left;
}

.vote-button-container {
  padding: 10px;
  justify-content: left;
  align-items: left;
  height: 100vh; /* Optional: Set the height of the container */
}

.vote-button {
  background-color: #ccc; /* Grey background color */
  color: #333; /* Dark text color */
  padding: 8px 16px; /* Padding around the text */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline from the text */
  display: inline-block; /* Display the button as an inline element */
  font-size: 14px; /* Font size */
  cursor: pointer; /* Add a pointer cursor on hover */
  border: 1px solid #aaa; /* Add a border */
}

.links {
padding: 10px;
justify-content: left;
}

.container-suggestions {
  display: flex;
  flex-direction: column;
  // border-radius: 10px;
  // margin: 18px;
  // border: 2px solid red;
  width: 80%;
  margin: 0 auto;
  // justify-content: space-between;
}

.container-new-excursion {
  // border: 2px solid green;
  width: 40%;
}

.suggestions-container-lower {
  // border: 1px solid blue;
  display: flex;
  justify-content: space-between;
}

.container-suggestions-info {
  // border: 2px solid orange;
  width: 60%;
  margin-right: 1.5rem;
}

.suggestions-info {
  grid-column: span 1;
}

.new-excursion {
  grid-column: span 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.simple-form {
  margin-top: 20px;
}

.ai-suggestions {
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;


  p {
    margin-bottom: 0px;
  }
}

.btn-submit-imp {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: $yellow;
  font-size: 16px !important;
}

.btn-submit-imp:hover {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: $yellow;
  font-size: 16px !important;
  border: 1px solid $blue;
}


.new-review {
  width: 50%;
}

.show-buttons-and-add-to-itinerary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-itin {
  display: flex;
  align-items: center;
}
