<div class="footer">
  <div class="footer-links">
  <div class="social-icons">
  <a href="https://www.facebook.com/" target="_blank"><img src="facebook_logo.png" alt="Facebook"></a>
  <a href="https://www.instagram.com/" target="_blank"><img src="instagram_logo.png" alt="Instagram"></a>
  <a href="https://twitter.com/" target="_blank"><img src="twitter_logo.png" alt="Twitter"></a>
</div>
  </div>
  <div class="footer-copyright">
    <p>"Savor Every Moment, Forget Every Hassle: Choose Xcursion "</p>
  </div>
</div>
