<div class="footer">
  <div class="footer-copyright">
    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">
    <p>"Savor Every Moment, Forget Every Hassle: Choose Xcursion "</p>
  </div>
</div>
