<div class="footer">
  <div class="footer-links">
    <p> Find a ride <a href="https://www.uber.com/" target="-blank">Choose Uber</a>.</p>
    <p> Find accommodation <a href="https://www.airbnb.com/" target="-blank">Choose Airbnb </a>.</p>
    <p> Check the weather <a href="https://weather.com//" target="-blank">See the Weather</a>.</p>
  </div>
</div>
