.footer {
  background: $footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $blue;
  margin-top: auto;

  a {
    color: #FEC65B;
    margin-left: 0.5rem;
    font-size: larger;
  }

  p {
    margin: 0;
    color: #FEC65B;
    font-weight: normal;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 5px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 30px; /* Adjust the size of the logos as needed */
  height: 30px; /* Adjust the size of the logos as needed */
}
