.message-row {
  margin-bottom: 10px;
  margin-top: 10px;
  // padding: 8px;
}
// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 40px;
}
.sender-style {
  background-color: #C4776E;
}
.receiver-style {
  background-color: #A2BAA1;
}

.message {
  small {
    opacity: 50%;
  }
  p {
    margin-bottom: 0px;
    font-size: 14px;
  }
}
