.navbar-lewagon {
  justify-content: space-between;
  background-color: rgb(85, 105, 118);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link{
  color: white;
  font-weight: bolder;
}

.dropdown-custom-color .dropdown-item {
  background-color: rgb(85, 105, 118);
  color: white;
}
