<div class="container my-4">

<h1>Excursions</h1>

<ul>
  <% @excursions.each do |excursion| %>
    <li><%= excursion.title %></li>
  <% end %>
</ul>

<p>"Savor Every Moment, Forget Every Hassle: Choose Xcursion"</p>

