<div class="container py-5 new-review">
  <h1 class="text-center">CREATE AN EXCURSION</h1>

  <%= render "shared/form", excursion: @excursion %>

  <br>

  <div>
    <%= link_to "Show all excursions", root_path %>
  </div>
</div>
