<div class="container my-4">
<h1><%= @excursions.title %></h1>
<p><strong>Description:</strong> <%= @excursions.description %></p>
<p><strong>City:</strong><%=  @excursions.city %></p>

<%= link_to 'Back', root_path %>

